*.vim
.DS_Store

data/
!data/documentation/.gitkeep
!data/html_reports/.gitkeep
!data/source/.gitkeep
!data/handmade/.gitkeep
!data/processed/.gitkeep
!data/public/.gitkeep

scratch/
!scratch/.gitkeep

packrat/lib*/
packrat/src/

.Rproj.user
.RData
.Rhistory
